
html{
    margin: 0;
    padding: 0;
    position: center top;
}

body{
  width: 940px;
margin: 0 auto;  
    font:10pt/1.5em Helvetica,"Helvetica neue",Arial,sans-serif;
    background-image: url(imagen/efebe341050b1ee4f07112b5cb89605f.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: #464646;

    }
    
    header,section,article,aside,footer{
        display: block;
        
    }   
    
    h1{
     font:40pt Alex Brush;
    color: red;
     background: black;
    }
    .colortext{
        font:40pt SAO UI;
        color: red;
        background: transparent;
    }
        .colortexts{
        color: white;
        background: transparent;
    }
    aside{
        
    }
    .img1{
        float:left;
        background-position: center top;
        border-radius: 5%;
        width: 300px;
        height: 436px;
        min-height: 240px;
         margin:10px 20px 20px 20px;
    }
    section{
      float:right;
      color: yellow;
        width: 428px;
        padding-left: 20px;
        margin: 0 0 20px 0;
        border-left: 2px dotted #33ceff;
    }
    section h2{
        font:14pt SAO UI;
        font-weight: lighter;
        text-transform: uppercase;
        color: red;
        padding-bottom:10px;
        margin: 0;
    }
    footer{
        clear: both!important;
        width: 946px;
        height: 100px;
        padding: 10px;
        color:#200f08;
        background: #ddd3bf;
        /*Opacidad*/
        filter: alpha(opacity=50);
        -moz-opacity:0.50;
        -khtml-opacity:0.50;
        opacity:0.50;
        /*Eequinas Redondea*/
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        border-radius: 12px;
    }
    